---
import Layout from '../layouts/Layout.astro'
import Checkout from '../components/Checkout'
---

<Layout isCheckout>
  <div class="self-start w-full p-2 bg-white flex flex-col">
    <Checkout client:only />
  </div>
</Layout>
