---
// @ts-ignore
import { Img } from "astro-imagetools/components"
export interface Props {
	title: string;
	price: number;
	desc?: string;
	imageUrl: string;
	code?: string;
	tag: string
}
const { title, price, tag, imageUrl, code } = Astro.props;

---

<a href={`/product/${code || 'ab123'}`} class="bg-white">
	<div class="product-card flex flex-col shadow-md p-3 pt-3 gap-2">
		<div class="font-extralight text-sm">#{tag}</div>
		<div class="flex justify-center">
			<Img format="webp" placeholder="tracedSVG" height={200} alt={'product '+ title} src={imageUrl} />
		</div>
		<div class="text-right px-2 text-2xl font-bold">Q {price.toFixed(2)}</div>
		<div class="text-left">{title}</div>
		<div class="flex items-center justify-end my-2 gap-2">
			<button class="capitalize transition-colors bg-gray-50 hover:bg-gray-200 active:bg-gray-300 text-gray-600 p-1 px-4 rounded-md">add to cart</button>
			<button class="capitalize transition-colors hover:bg-teal-600 active:bg-teal-800 hover:text-white text-teal-600 font-bold p-1 px-4 rounded-md">buy now</button>
		</div>
	</div>
</a>

<style>
	.product-card {
		width: 400px;
	}
	.product-image {
		height: 200px;
		align-self: center;
	}
</style>
