---

export interface Props {
	title: string;
	price: number;
	desc?: string;
	imageUrl: string;
	code?: string;
	tag: string
}

const { title, price, tag, imageUrl, code } = Astro.props;
---

<a href={`/product/${code || 'ab123'}`}>
<div class="product-card flex flex-col bg-white shadow-md p-3 relative pt-5">
	<div class="font-extralight text-sm">#{tag}</div>
	<div class="price text-center font-mono px-2 bg-slate-200 font-bold">Q {price.toFixed(2)}</div>
	<img class="product-image" src={imageUrl} />
	<div class="text-center">{title}</div>
</div>
</a>

<style>
	.product-card {
		width: 240px;
	}
	.product-image {
		height: 150px;
		align-self: center;
	}
	.price {
		right: 0px;
		top: 0px;
		position: absolute;
	}
</style>
