---
import { Img } from "astro-imagetools/components"

export interface Props {
	title?: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title || 'Mixokit'}</title>
	</head>
	<body class="bg-stone-50 flex flex-col">
		<div class="bg-white h-16 flex items-center p-2 shadow-md z-10">
			<div class="container mx-auto">
				<a href="/">
					<Img alt="mixokit" loading="eager" format="webp" placeholder="tracedSVG" height={48} src="https://mixokitgt.com/wp-content/uploads/2020/08/logo-e1597703267528.png" />
				</a>
			</div>
		</div>
		<div class="container mx-auto flex-1 overflow-auto flex p-2 gap-3 flex-wrap items-center justify-around">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	@supports (-webkit-touch-callout: none) {
		/* CSS specific to iOS devices */ 
		body {
			height: 90vh;
		}
	}

	@supports not (-webkit-touch-callout: none) {
		/* CSS for other than iOS devices */ 
		body {
			height: 100vh;
		}
	}
	.bg-brand {
		background: #103643;
	}
	.text-brand {
		color: #103643;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
