---
export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title || 'Mixokit'}</title>
	</head>
	<body class="bg-slate-50 flex flex-col">
		<div class="bg-white h-16 flex items-center p-2 shadow-md z-10">
			<div class="container mx-auto">
				<a href="/">
					<img class="h-12" src="https://mixokitgt.com/wp-content/uploads/2020/08/logo-e1597703267528.png" />
				</a>
			</div>
		</div>
		<div class="container mx-auto flex-1 overflow-auto flex p-2 gap-3 flex-wrap items-center justify-around">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	body {
		height: 100vh;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
